<p id="notice"><%= notice %></p>

<h1><%= @user_story.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @user_story.description %>
</p>

<%= link_to 'Back', project_path(@project.id) %> |
<%= link_to 'Edit', edit_user_story_path(@user_story) %> |
<%= link_to 'Destroy', @user_story, method: :delete, data: { confirm: 'Are you sure?' } %>

<div>
  <h2>Accept Tests</h2>

  <%= link_to 'New Accept Test', new_accept_test_path %>

  <% @accept_tests.each do |accept_test| %>
    <h3><%= accept_test.name %></h3>

    Failing/Passed
    <%= link_to 'Edit', edit_accept_test_path(@project.id, @release.id, @user_story.id, accept_test) %> |
    <%= link_to 'Destroy', accept_test_path(@project.id, @release.id, @user_story.id, accept_test), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>

<div>
  <h2>Task</h2>

  <%= link_to 'New Task', new_task_path %>

  <% @tasks.each do |task| %>
    <h3><%= task.name %></h3>

    Failing/Passed
    <%= link_to 'Edit', edit_task_path(@project.id, @release.id, @user_story.id, task) %> |
    <%= link_to 'Destroy', task_path(@project.id, @release.id, @user_story.id, task), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>
