<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @user_story.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user_story.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user_story.description %>
</p>

<%= link_to 'Edit', edit_user_story_path(@user_story) %> |
<%= link_to 'Back', user_stories_path %>
