<header class="content-header">
  <h1>Projects</h1>
</header>

<section>
  <%= render partial: 'layouts/shared/notifications'  %>
</section>

<nav>
  <%= form_tag("/search", method: "get") do %>
    <%= text_field_tag(:q) %>
  <% end %>

  <%= link_to 'New Project', new_project_path %>
</nav>

<section>
  <ul>
    <% @projects.each do |project| %>
      <li>
        <h2><%= link_to project.name, project %></h2>
      </li>
    <% end %>
  </ul>
</section>
