<section class="section-title">
  <h1>Projects</h1>
</section>

<section class="section-notice">
  <p id="notice"><%= notice %></p>
</section>

<section class="section-projects-options">
  <%= form_tag("/search", method: "get") do %>
    <%= text_field_tag(:q) %>
  <% end %>

  <%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %>
</section>

<section class="section-projects-list">
  <ul>
    <% @projects.each do |project| %>
      <li class="project-item">
        <h2><%= link_to project.name, project %></h2>
      </li>
    <% end %>
  </ul>
</section>
