<section>
  <h1>Projects</h1>
</section>

<section>
  <p id="notice"><%= notice %></p>
</section>

<section>
  <%= form_tag("/search", method: "get") do %>
    <%= text_field_tag(:q) %>
  <% end %>

  <%= link_to 'New Project', new_project_path %>
</section>

<section>
  <ul>
    <% @projects.each do |project| %>
      <li>
        <h2><%= link_to project.name, project %></h2>
      </li>
    <% end %>
  </ul>
</section>
