<section class="section-title">
  <h1><%= @project.name %></h1>
</section>

<section class="section-notice">
  <p id="notice"><%= notice %></p>
</section>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= link_to 'Back', projects_path %> |
<%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'New Release', new_release_path %> |
<%= link_to 'All Releases', releases_path %>

<div>
  <h2>Releases</h2>

  <% @releases.each do |release| %>
    <h3><%= release.name %></h3>
    >> <%= link_to('show', release_path(@project.id, release.id)) %> |
    <%= link_to('edit', edit_release_path(@project.id, release.id)) %>

    <% release.user_stories.each do |user_story| %>
      <h4><%= link_to(user_story.name, user_story_path(@project.id, release.id, user_story.id)) %></h4>
    <% end %>
  <% end %>
</div>
