<p id="notice"><%= notice %></p>

<h1><%= @release.name %></h1>

<p>
  <%= @release.start_date %> - <%= @release.finish_date %>
</p>

Make Active/Inactive |
<%= link_to 'New User Story', new_user_story_path %> |
<%= link_to 'Edit', edit_release_path(@release) %> |
<%= link_to 'Destroy', release_path(params[:project_id], @release.id), method: :delete, data: { confirm: 'Are you sure?' } %> |

<%= link_to 'Back', releases_path(params[:project_id]) %>

<div>
  <h2>To Do</h2>

  <% user_stories_by_situation(user_stories, 'todo').each do |user_story| %>
    <h3><%= link_to(user_story.name, user_story_path(params[:project_id], @release.id, user_story.id)) %></h3>
  <% end %>
</div>

<div>
  <h2>Doing</h2>

  <% user_stories_by_situation(user_stories, 'doing').each do |user_story| %>
    <h3><%= link_to(user_story.name, user_story_path(params[:project_id], @release.id, user_story.id)) %></h3>
  <% end %>
</div>

<div>
  <h2>Done</h2>

  <% user_stories_by_situation(user_stories, 'done').each do |user_story| %>
    <h3><%= link_to(user_story.name, user_story_path(params[:project_id], @release.id, user_story.id)) %></h3>
  <% end %>
</div>

<div>
  <h2>Aborted</h2>

  <% user_stories_by_situation(user_stories, 'aborted').each do |user_story| %>
    <h3><%= link_to(user_story.name, user_story_path(params[:project_id], @release.id, user_story.id)) %></h3>
  <% end %>
</div>
