<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @release.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @release.start_date %>
</p>

<p>
  <strong>Finish date:</strong>
  <%= @release.finish_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @release.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @release.active %>
</p>

<p>
  <strong>Project:</strong>
  <%= @release.project_id %>
</p>

<%= link_to 'Edit', edit_release_path(@release) %> |
<%= link_to 'Back', releases_path(@release.project_id) %>
