<%= form_with(model: accept_test, local: true) do |form| %>
  <% if accept_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(accept_test.errors.count, "error") %> prohibited this accept_test from being saved:</h2>

      <ul>
        <% accept_test.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :user_story_id %>
    <%= form.text_field :user_story_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
