<!DOCTYPE html>
<html>
  <head>
    <title>Neptune</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Neptune</h1>
    </header>

    <%= yield %>

    <footer>
      Ramon Santos
    </footer>
  </body>
</html>
